/* test css */
#section1{
    width:100%;
    height:100vh;
    display: flex;
    justify-content: space-evenly;
}
#resTitle{
    padding:10%;
}
#resAutor{
    padding:10%;
}
#resPrice{
    padding:10%;
}
.boxs{
    color:red;
    display: flex;
    flex-direction: column;
}
